/*
Caverta - Restaurant Cafe Template
Version: 1.2.0
Author: MatchThemes
https://matchthemes.com
*/

/*************************************
 
 
 	1. MAIN STYLES
	
	2. HEADER
	
	3. HOME
	
	4. MENU
	
	5. PAGES

	6. BLOG
	
	7. FOOTER
	
	8. BACKGROUND IMAGES
	
	9. OTHER
 
 
 
************************************/

/*************************************

1. MAIN STYLES

 ************************************/


/* RESET STYLES */

*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td { margin:0; padding:0 }
table { border-collapse:collapse; border-spacing:0 }
fieldset, img { border:0 }
address, caption, cite, code, dfn, th, var { font-style:normal; font-weight:normal }
address{font-style:italic;}
caption, th { text-align:left }
h1, h2, h3, h4, h5, h6 {font-weight:normal;}
q:before, q:after { content:'';}
strong,b { font-weight: bold; }
em, cite { font-style: italic; }
cite { display: block; }
strike, del {text-decoration: line-through;}
sup {font-size: 11px;position: relative;vertical-align: top;top: 5px;}
sub {	bottom: 5px;	font-size: 11px;	position: relative;	vertical-align: bottom;}
.italic { font-style: italic;}
button,input,select,textarea { font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
.no-margin{margin:0px !important;}
.no-bottom{margin-bottom:0px;}
.no-padding{padding:0px;}
.column-clear{clear:both;}

 .wp-caption { max-width: 100%; }

 .sticky { position: relative; }
 .wp-caption-text, .gallery-caption{color: #555555;
font-size: 12px;
text-align:center;
margin-top:24px;
font-style:italic;
font-weight:300;}
.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}
 .bypostauthor .comment-body { border-bottom: 1px solid #f2f2f2; }
 .screen-reader-text { clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	}
	
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	display: block;
	top: 5px;
	left: 5px;
	width: auto;
	height: auto;
	padding: 1em 1.5em;
	font-size:0.8em;
	line-height: normal;
	color: #21759b;
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	text-decoration: none;
	z-index: 100000; /* Above WP toolbar */
}

 .alignright {
     display: block;
     float: right;
     margin: 4px 0 0 24px;
 }

 .alignleft {
     display: block;
     float: left;
     margin: 4px 24px 0 0;
 }

 .aligncenter {
     display: block;
     clear: both;
     margin: 24px auto;
 }
 
 pre {
    margin-bottom: 24px;
    overflow: auto;
    padding: 10px;
    white-space: pre-wrap;
}
pre, code{
  background:#f0f0f0;
  color: #333;
  font-family: "Courier New", Courier, monospace;
   padding:10;
}

article, aside, figure, footer, header, hgroup, nav, section {display: block;}

*{ 
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

html{-webkit-font-smoothing:antialiased;}


body{-webkit-font-smoothing: antialiased;
-webkit-text-size-adjust: 100%;
-webkit-overflow-scrolling:touch;
text-rendering: optimizeLegibility;
font-family: Work Sans;
background:#ffffff;
color:#252525;
font-size: 16px;
line-height:1.5;
overflow-x:hidden;
}
.widgettitle, #respond h3 { font-family:Work Sans, sans-serif; }
h1, h2, h3, h4, h5, h6, blockquote, .logo-txt{ font-family:Lora, serif; }
h1, h2, h3, h4, h5, h6 {
	color: #252525;
	font-weight: 400;
	line-height:1.5em;
}

h1{font-size:54px;
}

h2{font-size:48px;
}

h3{font-size:36px;}
h4{font-size:32px;}
h5{font-size:24px;}
h6{font-size:16px;}

a{color:#252525;}
p a{border-bottom: 1px solid #252525;}
a:hover, p a:hover{color:#9fc4ce;text-decoration:none;
border:none;}
a:active,a:focus{outline: none;
text-decoration:none;}

ul, ol {margin: 0 0 16px 24px;}	
	 
.alignc{text-align:center;}
.alignr{text-align:right;}
.none{display:none;}

blockquote{font-size:2rem;
line-height:1.6em;
text-align: center;
font-style:italic;
color: #252525;
position:relative;
border:none;
margin:36px 0;
padding:0 32px;}

blockquote:before {
    display: block;
	font-family: "Font Awesome 5 Free";
    content: "\f10d";
    line-height: 1;
    font-size: 24px;
	font-style:normal;
	font-weight:900;
    position: absolute;
    left: 0;
    top: 0px;
}

blockquote cite{
	color: #999999;
	font-size: 12px; 
	font-style: normal; 
	font-weight:300;
	text-transform:uppercase;
}
blockquote cite{line-height:1;
margin-top:16px;}

p,ul,ol{ margin-bottom: 24px; }

/* definition lists */
dl dt {
  margin-bottom: 0;
}
dl dd {
  margin-left: 16px;
  margin-bottom: 24px;
}

/* tables */
table {border: 1px solid #e5e5e5;
   font-size: 16px;
width: 100%;
  text-align: center;
  margin-bottom: 24px;
  border-collapse:collapse;
  table-layout: fixed;}
table caption { margin-bottom: 24px;
text-align:center;}
table th, table td {border-bottom: 1px solid #e5e5e5;
border-right: 1px solid #e5e5e5;
text-align:center;
padding:12px;}
table th { font-weight:bold;}

div p:last-of-type{margin-bottom:0;}


a, .view-more, #submit, #submit-contact, .white-btn, .post-password-form input[type="submit"], .gallery-post .gallery-view, .menu-title-section:before {

-webkit-backface-visibility: hidden;
-webkit-transition: all 1s cubic-bezier(0.25, 1, 0.35, 1) 0s;
   -moz-transition: all 1s cubic-bezier(0.25, 1, 0.35, 1) 0s;
   -o-transition: all 1s cubic-bezier(0.25, 1, 0.35, 1) 0s;
   -ms-transition: all 1s cubic-bezier(0.25, 1, 0.35, 1) 0s;
   transition: all 1s cubic-bezier(0.25, 1, 0.35, 1) 0s;
   
}

/*************************************

2. HEADER

************************************/



/*** menu large screens ***/

.menu-nav{margin:0; font-size:0;
text-align:center;}
.menu-nav li{display:inline-block;
position: relative;
margin-left:24px;
font-size:13px;
font-weight:500;
letter-spacing:0.15em;
text-transform:uppercase;
}
.menu-nav li:first-child{margin-left:0px;}

.menu-nav li a{color:#ffffff;
padding:24px 0;
display:block;}
.menu-nav li a:before{position: absolute;
display: block;
bottom: 20px;
left: 50%;
width: 0;
border-top: 1px solid #ffffff;
content: '';

-webkit-backface-visibility: hidden;
-webkit-transition: all 0.5s cubic-bezier(0.25, 1, 0.35, 1) 0s;
   -moz-transition: all 0.5s cubic-bezier(0.25, 1, 0.35, 1) 0s;
   -o-transition: all 0.5s cubic-bezier(0.25, 1, 0.35, 1) 0s;
   -ms-transition: all 0.5s cubic-bezier(0.25, 1, 0.35, 1) 0s;
   transition: all 0.5s cubic-bezier(0.25, 1, 0.35, 1) 0s;
}

.menu-nav li a:hover, .menu-nav > li:hover > a, .menu-nav > li.current-menu-item > a{background:none;
color:#9fc4ce;}
.menu-nav > li:hover > a:before, .menu-nav li.current-menu-item > a:before{
left:0;
width:100%;	
border-color:#9fc4ce;
}

.menu-nav ul {display: none;
margin: 0;
padding:12px 0;
width: 180px;
position: absolute;
top: 67px;
left: 50%;
margin-left:-90px;
background:#9fc4ce;
z-index:5;
}

.menu-nav ul:before{content: '';
position:absolute;
left:50%;
top:-6px;
margin-left:-10px;
width: 0;
height: 0;
border-style: solid;
border-width: 0 10px 10px 10px;
border-color: transparent transparent #9fc4ce transparent;
}

.menu-nav ul li {display:block;
text-align:center;
background:none;
margin:0;
font-size:13px;
font-weight:400;
text-transform:none;
letter-spacing: 0.05em;
}
.menu-nav ul li > a{display:block;
  padding: 5px 16px;
  color:#252525;
}

.menu-nav ul li a:hover, .menu-nav li:hover ul li a:hover {text-decoration:none;
  color:#ffffff;}
.menu-nav li:hover > ul{ display: block;}
.menu-nav li ul ul { left: 100%; top: -12px; 
margin:0;}
.menu-nav li ul ul:before, .menu-nav li ul a:before{display:none;}

.menu-nav .edge > ul{
	left: auto;
	right: 0;
}

.menu-nav li ul .edge ul {
    left: auto;
    top: -12px;
    margin: 0;
    right: 100%;
}

/*** end menu large screens ***/

/*** menu mobile ***/

.nav-button-holder{display:none;}
.nav-button{background:none;
border:none;
cursor:pointer;
padding-bottom:15px;
vertical-align:middle;
}

.icon-bar, .icon-bar1, .icon-bar2{display: block;
    height: 2px;
    width: 25px;
	background:#ffffff;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	
} 
.icon-bar1, .icon-bar2{width:18px;}

.icon-bar:before, .icon-bar:after  {
   background:#ffffff;
    content: "";
    height: 100%;
    left: 4px;
    position: absolute;
    bottom: -6px;
	right:0;

}
.icon-bar:after { bottom: -12px;
left:8px;
top: auto; }

.nav-button:hover .icon-bar:before, .nav-button:hover .icon-bar:after{ left:0;}

.icon-bar, .icon-bar1, .icon-bar2, .nav-button .icon-bar:before, .nav-button .icon-bar:after { -webkit-transition:all 0.3s ease 0s;
	-ms-transition:all 0.3s ease 0s;
	transition: all 0.3s ease 0s;}

.menu-mobile{font-size:0;
margin:0 auto;
margin-left:0;
padding-left:48px;
}

.menu-mobile li{font-size:16px;
font-weight:600;
text-transform: uppercase;
letter-spacing:0.1em;
padding-top:24px;
list-style:none;
}

.menu-mobile li a{color:#999999;
display: block;
line-height:1;}
.menu-mobile li a:hover, .menu-mobile li a:focus{background:none;}
.menu-mobile li:hover > a, .menu-mobile li.current-menu-item > a{color:#ffffff;}

.menu-mobile > li.menu-item-has-children > a:after {
    content: "\f107";
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    margin-left: 7px;
    margin-right: 0;
	font-size:12px;
	font-weight:900;
	vertical-align: middle;
	
	-webkit-transition:all 0.3s;
-ms-transition:all 0.3s;
  transition: all 0.3s;
}

.menu-mobile > li.menu-item-has-children.menu-open > a:after{content: "\f106";}

.menu-mobile ul{margin-left:0px;}
.menu-mobile > li > ul{display:none;}  
.menu-mobile > li.menu-open > ul{display:block;}  
.menu-mobile ul li{font-size:16px;
font-weight:400;
padding-top:16px;
text-transform:none;
padding-left:8px;
letter-spacing:1px;
display:block;}

.menu-contact{margin-top:72px;
padding-left:48px;
color:#999999;}
.menu-contact ul{list-style:none;
margin-left:0;
margin-bottom:0;}
.mobile-phone{font-size:24px;
margin:16px 0;}
.menu-contact .social-media{margin-top:48px;
padding-bottom:48px;}

.mobile-btn {
    margin-bottom: 24px;
}

/*** end menu mobile ***/


/***** MODAL WINDOW ******/

body.has-active-menu { overflow: hidden; }

.menu-mask{position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;}
.menu-mask.is-active{width:100%;
height:100%;
opacity:0.9;}
  
.mobile-menu-holder{ position: fixed;
  z-index: 1050;
  top: 0;
  left: 0;
  overflow-x: hidden;
  width: 350px;
  height: 100%;
  background: #252525;
  opacity: 0;
  padding:0 30px;
  
-webkit-transform: translateX(-400px);
-ms-transform: translateX(-400px);
transform: translateX(-400px);

  -webkit-backface-visibility: hidden;
-webkit-transition: all 0.7s cubic-bezier(0.25, 1, 0.35, 1) 0s;
   -moz-transition: all 0.7s cubic-bezier(0.25, 1, 0.35, 1) 0s;
   -o-transition: all 0.7s cubic-bezier(0.25, 1, 0.35, 1) 0s;
   -ms-transition: all 0.7s cubic-bezier(0.25, 1, 0.35, 1) 0s;
   transition: all 0.7s cubic-bezier(0.25, 1, 0.35, 1) 0s;
 }
.mobile-menu-holder.is-active{ opacity: 1;

-webkit-transform: translateX(0px);
-ms-transform: translateX(0px);
transform: translateX(0px);

 }

.modal-menu-container{position:relative;}

.exit-mobile{cursor: pointer;
padding: 7px 1px;
display: inline-block;
margin-top:32px;
}  
.icon-bar1{top:2px;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}
.icon-bar2{-webkit-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
transform: rotate(-45deg);}

/***** END MODAL WINDOW ******/

.logo img {
    width: 120px;
}

.logo-1, .btn-header{flex: 1 1 0;}

.btn-header{text-align:right;}

/** Header 1 **/
.headerHolder{display:flex;
align-items:center;
justify-content:center;
padding-left:30px;
padding-right:30px;
margin-top:16px;

left: 0;
position: absolute;
top: 0;
width: 100%;
z-index: 100;

}

.nav-holder-1{text-align:center;}

.logo-txt{font-size:36px;}
.logo-txt a{color:#ffffff;}

/** Header 2 **/

.nav-holder-2{flex: 1 1 0;}
.nav-holder-2 .menu-nav{text-align:left;}

.menu-nav-2 ul{left:0;
margin-left:0;}
.menu-nav-2 ul:before{left:16px;
margin-left:0;}
.menu-nav-2 ul li{text-align:left;}

/** Header 3 **/
.nav-button-holder-3{display:block;
flex: 1 1 0;}



/** Header 4 **/

.top-header{
	padding: 8px 30px;
	background: #9fc4ce;
	color: #ffffff;
}

#header-4{
	top: 16px;
}

.headerHolder4,
.headerHolder5 {  
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}

.header-4,
.header-5{
	display: flex;
	align-items: center;
	 padding-left: 30px;
    padding-right: 30px;
}

.nav-holder-4{
	flex: 1 1 0;
	text-align: right;
}

.menu-nav-4{
	text-align: right;
}

.top-header {
    display: flex;
    align-items: center;
}

.top-header .social-media li{
	font-size: 12px;
}

.top-header a,
.top-header .social-media a,
.header5-left a{
	color: #ffffff;
}

.top-header a:hover,
.header5-left a:hover{
	color: #ffffff;
	border-bottom: 1px solid #ffffff;
}

.binfo{
	flex: 1 1 0;
}

.binfo ul {
    font-size: 0;
    margin: 0;
}

.binfo ul li {
    color: #fff;
    display: inline-block;
    margin-right: 28px;
    font-size: 12px;
    position: relative;
}

.binfo ul li i {
    margin-right: 8px;
}

/** Header 5 **/

.headerHolder5{
	padding-top: 4px;
}

.header5-left ul li {
    display: block;
	margin-bottom: 4px;
}

.header5-left ul li:last-child {
	margin-bottom: 0;
}

.headerHolder5.nav-fixed-top .header-5{
	display: none;
}

.nav-fixed-top,
.headerHolder5.nav-fixed-top { position: fixed;
	top:0;
    right: 0;
    left: 0;
    z-index: 1030;
	background: #252525;
	margin-top: 0;
}

#header-4.nav-fixed-top{
	top:0;
}

.header-3.nav-fixed-top{
	padding-top: 8px;
	padding-bottom: 8px;
}

.social-media, .footer-social{list-style:none;
margin:0;
font-size:0;
}
.social-media li, .footer-social li{display:inline-block;
font-size:14px;
margin-left:12px;}

.social-media li a{color:#999999;}
.social-media li:first-child, .footer-social li:first-child{margin-left:0;}

a.social-twitter:hover{color:#29C5F6 !important;}
a.social-facebook:hover{color:#6788CE !important;}
a.social-gplus:hover{color:#E75C3C !important;}
a.social-linkedin:hover{color:#3A9BDC !important;}
a.social-pinterest:hover{color:#FE4445 !important;}
a.social-tripadvisor:hover{color:#00AF87 !important;}
a.social-youtube:hover{color:#E34040 !important;}
a.social-vimeo:hover{color:#44BBFF !important;}
a.social-instagram:hover{color:#AA8062 !important;}
a.social-dribbble:hover{color:#ED4F8C !important;}
a.social-skype:hover{color:#24B4F0 !important;}


/*************************************

3. HOME

************************************/

/* SLIDER */
.slider-container{position:relative;
height:100vh;
margin-bottom:108px;
}
.slider-container2{
	position:relative;
	margin-bottom:108px;
}
.slider-item-box-bkg{height:100vh;
}
.slider-img{background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 100%;
    position: relative;
	width:100%;
}
.slider-img:before{content:'';
background:rgba(0,0,0,0.3);
position:absolute;
top:0;
left:0;
bottom:0;
right:0;
}
.slider-caption{ position: absolute;
   left: 0;
   top: 50%;
   right:0;
   text-align:center;
   color:#ffffff;
   padding: 0 54px;
   z-index:2;

	-ms-transform: translateY(-50%);
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-o-transform: translateY(-50%);
    transform: translateY(-50%);
	}
	
.intro-txt {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
}	
.slider-caption h2{font-size:108px;
letter-spacing:0.03em;
color:#ffffff;
line-height: 1;
margin:16px 0;}

.slider-caption .slider-btn{margin-top:48px;}

/* END SLIDER */

/* BKG VIDEO */

.video-container{
	position: relative;
top: 0;
left: 0;
right: 0;
bottom: 0;
height: 100vh;
overflow: hidden;
z-index: 1;
}

.video-container:before {
	content: '';
	background: rgba(0, 0, 0, 0.4);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 2;
}	

.video-container video{
	position: absolute;
left: 50%;
width: auto;
height: auto;
top: 50%;
min-width: 125%;
min-height: 125%;
-webkit-transform: translateX(-50%) translateY(-50%);
-ms-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
}

/* END BKG VIDEO */

/* HEADER PAGES */

.topSingleBkg{width:100%;
height:100vh;
display:block;
overflow:hidden;
position:relative;
margin-bottom:108px;
}
.single-post-title{color:#ffffff;
font-size:108px;
letter-spacing:0.03em;}
.post-subtitle{color:#ffffff;
text-transform:uppercase;
opacity:0.9;}

.item-img{background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 100%;
    position: relative;
	width:100%;
}

.item-img:before{content:'';
background:rgba(0,0,0,0.4);
position:absolute;
top:0;
left:0;
bottom:0;
right:0;
}

.inner-desc{ position: absolute;
    z-index: 4;
	text-align: center;
	padding:0 15px;
    width: 100%;
	top:50%;
	left:auto;
		-ms-transform: translate(0, -50%);
-webkit-transform: translate(0, -50%);
-moz-transform: translate(0, -50%);
-o-transform: translate(0, -50%);
    transform:translate(0, -50%);
}

.inner-desc h1{line-height:1;
margin-bottom: 16px;
}

.inner-desc .post-meta li{color: #ffffff;
font-size:16px;
font-weight:400;
letter-spacing:0;
opacity: 0.9;}

.inner-desc .meta-categ a {
    color: #ffffff;
}

/* END HEADER PAGES */

.home-section{margin-bottom:108px;}
.parallax, .no-parallax  {
  background-repeat: repeat;
  background-position: center center !important;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.parallax{position:relative;
padding-top:144px;
padding-bottom:144px;}
.parallax h2, .parallax h3, .parallax h4{color:#ffffff;}
.parallax:before {content: '';
    background: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Parallax Backgrounds */

#home-content-2, #home-content-25, #home-content-33{background-image:url('assets/images/home/parallax-bkg1.jpg');}
#home-content-4{background-image:url('assets/images/home/parallax-2.jpg');}
#home-content-6, #home-content-27{background-image:url('assets/images/home/parallax-3.jpg');}

.section-bkg{padding-top:108px;
padding-bottom:108px;
background:#9fc4ce;}

.home-title{margin-bottom:48px;}
.width60{width:60%;
margin-left:auto;
margin-right:auto;}

.menuTab{margin:0;
margin-top:48px;
border:none;
justify-content:center;}
.menuTab .nav-item{font-weight: 500;
text-transform: uppercase;
letter-spacing: 1px;}
.menuTab .nav-link.active {
    color: #9fc4ce;
    background-color: none;
    border: none;
}
.menuTab .nav-link { border: none; 
padding:16px 24px;}


.menutab-6{
	display: flex;
	margin-top: 48px;
}

.menutab-6 .menuTab.nav{
	display: block;
}

.menutab-6 .menuTab{
	text-align: center;
	width: 25%;
	margin-top: 16px;
}

#menuTabContent {margin-bottom: -24px;}

.image-text{position:relative;
text-align:center;}
.title-holder{position:absolute;
top:50%;
	left:50%;
		-ms-transform: translate(-50%, -50%);
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
-o-transform: translate(-50%, -50%);
    transform:translate(-50%, -50%);
}
.col-bkg{display:flex;
align-items:center;
background:#f5f5f5;
padding-top:24px;
padding-bottom:24px;}


/* Home Video */
.section-bkg-v1{
	background: #252525;
	margin-bottom: 0;
}

.video-intro{
	color:#ffffff;
	font-size: 24px;
}

.bkg-image-holder{
	display: flex;
}

.bkg-image{
	width: 100%;
	position:relative;
	    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.icon-holder2 i{
	font-size: 54px;
	color: #9fc4ce;
	margin-bottom: 24px;
}

.home-section-v6{
	margin-bottom: -108px;
}


/*************************************

4. MENU

************************************/


.food-menu{margin:0; font-size:0;
list-style:none;
margin-top:32px;}
.food-menu li{font-size:16px;
margin-bottom:24px;
padding-bottom:24px;
border-bottom:1px dotted #999999;}
.food-menu li h4{font-size: 16px;
padding-right: 80px;
position: relative;
margin-bottom: 8px;
font-weight: 700;
letter-spacing: 0.03em;}

.menu-price {position: absolute;
    top: 0;
    right: 0;
}
.menu-text {font-size: 14px;
    font-style: italic;
}

.menu-2cols{-moz-column-count: 2;
-moz-column-gap: 54px;
-webkit-column-count: 2;
-webkit-column-gap: 54px;
column-count: 2;
column-gap: 54px;
}
	   
.menu-3cols{-moz-column-count: 3;
-moz-column-gap: 54px;
-webkit-column-count: 3;
-webkit-column-gap: 54px;
column-count: 3;
column-gap: 54px;}

.food-menu li{-webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;}

/* menu accordion */

.our-menu{padding:0;
margin:0;
margin-top:24px;}
.our-menu li{list-style:none;}
.our-menu li:last-child{margin-bottom:0px;}
.menu-title-section{font-size: 28px;
font-weight:700;
border-bottom: 1px solid #252525;
letter-spacing: .05em;
padding: 24px;
text-transform:uppercase;
cursor:pointer;
}
.menu-title-section:before {
    content: "\f067";
    display: inline-block;
    font-family: "Font Awesome 5 Free";
	font-weight:700;
	font-size:14px;
    margin-right: 16px;
	vertical-align: middle;
}
.menu-title-section a{color:#252525;}
.menu-title-section.active, .menu-title-section:hover{color:#9fc4ce;}
.menu-title-section.active:before{ content: "\f068";
color:#9fc4ce;}
.menu-title-section.active a, .menu-title-section:hover a, .menu-title-section:hover:before{color:#9fc4ce;}

.menu-section{padding:0 24px 24px 24px;}


/* end menu accordion */

.image-container{background-repeat: no-repeat;
background-size: cover;
padding: 15px 15px 15px 15px;
text-align:center;}

/* menu with images */

.menu-img-holder{
	display: flex;
	margin-bottom: 48px;
	align-items: center;
}

.menu-img-holder2{
	display: block;
	text-align: center;
}

.menu-img{
	margin-right: 16px;
	width: 25%;
}

.menu-img-holder2 .menu-img{
	width: 120px;
	margin: 0 auto 16px auto;
}

.menu-img img {
    border-radius: 99em;
}

.menu-img-content{
	width: 75%;
}

.menu-img-holder2 .menu-img-content{
	width: auto;
}

.menu-img-title{
	font-size: 20px;
font-weight: 700;
margin-bottom: 8px;
}

.menu-img-desc span {
    display: block;
    margin-top: 8px;
    font-size: 18px;
    font-weight: 700;
    color: #9fc4ce;
}

.menu-category{
	margin-bottom: 48px;
	border-bottom: 1px solid #252525;
	text-align: center;
}

/*************************************

5. PAGES

************************************/

.page-holder h1, .page-holder h2{margin-bottom:48px;}
.page-holder h3, .page-holder h4, .page-holder h5, .page-holder h6{margin-bottom:24px;}

/** GALLERY **/

.gallery-container-fs{padding: 0 20px;}

.gallery-holder{display:flex;
flex-wrap:wrap;
margin:0 -10px -20px -10px;
}
.gallery-post{width: 33.33%;
height: 400px;
display: block;
overflow: hidden;
position: relative;
margin-bottom:20px;
padding:0 10px;
}

.gallery-post a{
position: relative;
width: 100%;
height: 100%;
display: block;
overflow: hidden;
}

.gallery-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 100%;
    position: relative;
    width: 100%;
	
	-webkit-backface-visibility: hidden;
-webkit-transition: all 3s cubic-bezier(0.25, 1, 0.35, 1) 0s;
   -moz-transition: all 3s cubic-bezier(0.25, 1, 0.35, 1) 0s;
   -o-transition: all 3s cubic-bezier(0.25, 1, 0.35, 1) 0s;
   -ms-transition: all 3s cubic-bezier(0.25, 1, 0.35, 1) 0s;
   transition: all 3s cubic-bezier(0.25, 1, 0.35, 1) 0s;
}
.gallery-post:hover .gallery-img{
transform:scale(1.2);
-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
}

.gallery-img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: #000;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}

.gallery-desc{
    position: absolute;
    z-index: 4;
    text-align: center;
    padding: 0 15px;
    width: 100%;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.gallery-view{color:#ffffff;
font-size:36px;
opacity:0;
-ms-transform: translateY(30px);
-webkit-transform: translateY(30px);
transform:translateY(30px);}

.gallery-post:hover .gallery-view{opacity:1;
-ms-transform: translateY(0px);
-webkit-transform: translateY(0px);
transform:translateY(0px);}

.gallery-4cols .gallery-post{width:25%;}

/** TEAM **/

.team-member{margin-bottom:72px;}
.team-img{margin-bottom:24px;
text-align:center;}
.team-img img{margin:0 auto;}
.page-holder h3.team-title{font-size:24px;
margin-bottom:0px;}
.team-desc{text-align:center;}
.team-desc .smalltitle{font-size:14px;
letter-spacing:0;
margin-bottom:24px;}


/** RESERVATION **/

.reserve-holder{margin-top:48px;}
.reserve-holder .comm-field, .contact-holder .comm-field{ margin-bottom:24px; }

/** CONTACT **/

.contact-icon{font-size: 24px;
padding: 32px;
color:#9fc4ce;
border: 2px solid #9fc4ce;
border-radius: 50%;
display:inline-block;
text-align:center;
line-height:1;
}


/** About Us **/

.about-us-3{
	margin-bottom: 36px;
}

/** Pricing **/

.price-box{
	background: #f7f8fa;
	padding: 54px;
	text-align: center;
}
.price-title{
font-size: 24px;
font-weight: 800;
}

.price-amount{ font-size: 72px; }
.price-features{ list-style: none;
margin: 48px 0;}
.price-features li{
	margin-bottom: 16px;
}
.price-features li:last-child{
	margin-bottom: none;
}

.font24{
	font-size: 24px;
}

/** FAQ **/

.faq-section-3{
	padding: 81px 0;
	background: #f7f8fa;
	margin-bottom: -108px;
}

.testimonial-content{
	font-style: italic;
	margin-bottom: 24px;
}

.testimonial-job{
	font-size: .85em;
}

/* testimonials 2 */

.testimonial-2{
	padding: 32px;
	background: #ffffff;
	text-align: center;
}

.testimonial-text2{
	font-style: italic;
}

.testimonial-img-holder2{
	display: flex;
	align-items: center;
	margin-top: 24px;
	justify-content: center;
}

.testimonial-img2{
	width: 70px;
	margin-right: 16px;
}

.testimonial-img2 img{
	border-radius: 99em;
}

.testimonial-client2{

}

/*************************************

6. BLOG

************************************/

.posts-holder{padding-right:35px;}
.posts-holder-push-right{order:2;
padding-right:0;
padding-left:35px;}

.blog-item{margin-bottom:72px;}
.home-blog-grid .blog-item { margin-bottom: 0; }

.blog-item .post-image img, .blog-item .list-image{-webkit-backface-visibility: hidden;
-webkit-transition: all 3s cubic-bezier(0.25, 1, 0.35, 1) 0s;
   -moz-transition: all 3s cubic-bezier(0.25, 1, 0.35, 1) 0s;
   -o-transition: all 3s cubic-bezier(0.25, 1, 0.35, 1) 0s;
   -ms-transition: all 3s cubic-bezier(0.25, 1, 0.35, 1) 0s;
   transition: all 3s cubic-bezier(0.25, 1, 0.35, 1) 0s;}
.blog-item:hover .post-image img, .blog-item:hover .list-image{
transform:scale(1.2);
-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
}

.post-image{margin-bottom:24px;
overflow:hidden;}

.article-title{font-size:36px;
margin:8px 0 24px 0;}

.post-meta{margin:0;
font-size:0;
list-style:none;
}
.post-meta li{display:inline-block;
font-size:12px;
font-weight: 500;
letter-spacing: 0.05em;
text-transform: uppercase;
color: #999999;}

.meta-categ a{color: #999999;}
.meta-categ a:hover{color: #9fc4ce;}

.meta-categ:before{display: inline-block;
width: 10px;
height: 2px;
margin: 0 8px;
content: '';
vertical-align: middle;
background: #9fc4ce;}

.post-meta li.meta-sticky{background:#9fc4ce;
padding:3px 8px;
margin-left:8px;
color:#ffffff;
text-transform:uppercase;}

.post-holder .view-more{margin-top:36px;}

/*** BLOG GRID ***/

.blog-item-2col-grid .article-title{font-size:32px;}
.blog-item-3col-grid .article-title{font-size:28px;}

/*** END BLOG GRID ***/

/*** BLOG LIST ***/

.blog-item-1col-list{display:flex;
align-items:center;}
.blog-item-1col-list .post-image{width:40%;
height: 400px;
overflow:hidden;
margin-bottom:0;}

.blog-item .list-image{
background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
	width:100%;
	height:100%;
	
}

.blog-item-1col-list .post-holder{width:60%;
padding-left:36px;
margin-top:0;}
.blog-item-1col-list .article-title{font-size:32px;}
.blog-item-1col-list .post-holder-noimg{width:100%;
padding:0;
}
.blog-item-1col-list:last-child { margin-bottom: 0; }

/*** END BLOG LIST ***/

.author-single-page{margin-top:72px;}
.author-avatar{display: block;
    float: left;
}
.author-avatar img{border-radius:99em;}
.author-content{margin-left:130px;}
.author-single-page h4{font-size: 24px;
    font-weight: 500;
    margin-bottom: 8px;}
.author-content .social-media{margin-top:8px;}

.meta-nav-holder{margin-top:72px;
align-items:center;}
.meta-nav{padding:0 15px;}
.meta-nav .widgettitle{margin-bottom: 4px;
font-size:11px;}
.meta-nav a{display:block;
color:#252525;}
.meta-nav a:hover{color:#9fc4ce;}
.meta-nav-subtitle{font-size: 16px;
    font-style: italic;
}
.pn-holder{display:flex;
align-items:center;}
.pn-img{width: 80px;
height: 0;
flex: 0 0 auto;
margin-right: 15px;
overflow: hidden;
border-radius: 99em;
position: relative;
padding-bottom: 80px;}
.pn-img img{object-fit: cover;
    object-position: center top;
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    left: 0;
    top: 0;
}

.pn-desc h3{font-size:18px;}

.meta-nav-right .pn-holder{justify-content:flex-end;
text-align:right;}
.meta-nav-right .pn-img{margin-left:15px;
margin-right:0px;}

.comm-title .widgettitle, .comment-reply-title{margin-top:72px;}

.output2{margin-top:24px;
border:1px solid #ff0000;
padding:7px;
color:#ff0000;}

.antispam{ display:none;}

.comm-send{margin-top:36px;}

/**** COMMENTS STYLES*****/
.commentlist { margin: 0 }
.commentlist > li { list-style: none; margin: 0;
margin-top:24px;}
.commentlist > li ul.children li{ list-style: none;}
.children li.depth-2 { margin: 0 0 0px 63px }
.children li.depth-3 { margin: 0 0 0px 63px }
.children li.depth-4 { margin: 0 0 0px 63px }
.children li.depth-5 { margin: 0 0 0px 63px }
.children li.depth-6 { margin: 0 0 0px 63px }
.children li.depth-7 { margin: 0 0 0px 63px }
.children li.depth-8 { margin: 0 0 0px 63px }
.children li.depth-9 { margin: 0 0 0px 63px }
.children li.depth-10 { margin: 0 0 0px 63px }
.comment-body {margin-bottom: 32px;}
.comment-details{ position: relative; margin-left: 72px }
.comment-avatar{ position: absolute; left: -72px; top:0 }
.comment-avatar img{ display: block;
border-radius:50%;}

.comment-author .author a, .comment-author .author a:visited {border:none;}
.comment-author span, .comment-author .author a{color:#252525;
font-size:18px;
margin-right:10px;
font-style:normal;}
.comment-author .author a:hover{}
.comment-content p:last-child{ margin: 0; }
.comment-author span.comment-date { font-size: 12px; font-weight: normal;
font-style:italic;
color:#999999;}
.comment-text { margin-top: 16px; }
.reply{margin-top:8px;}
.comment-reply-link{font-size: 14px;
letter-spacing: 0.05em;
font-weight: 400;
color: #252525;
text-transform: lowercase;
padding-bottom: 4px;
border-bottom:1px solid #252525;
}
#cancel-comment-reply-link{font-size:11px;}
.commentlist .children { margin: 0 }
#comments_wrap { margin-top: 16px }
#cancel-comment-reply { float: right; margin-top: 16px; }
.comment-reply-title small{display:block;
margin-bottom:8px;}

.pingback .comment-details { margin-left: 0; }
.pingback .comment-avatar {display:none; }

input::-ms-clear {display: none;}

@-ms-viewport{width:auto;}

/**** END COMMENTS STYLES*****/


/* SIDEBAR */
aside ul, footer ul, .widget_recent_entries ul{margin:0;
padding:0;
list-style:none;}

aside > ul > li{margin-top:36px;}
aside > ul > li:first-child{margin-top:0;}

aside .screen-reader-text, .foo-block .screen-reader-text {display:none;}

aside table, aside table caption, .foo-block table, .foo-block table caption{margin-bottom:0;}
aside table caption, .foo-block table caption{padding-bottom:0;}

.widgettitle, .smalltitle, .comment-reply-title{color:#252525;
font-weight: 500;
font-size: 16px;
letter-spacing: 0.15em;
margin-bottom:32px;
text-transform:uppercase;
}

.icon-title{margin-bottom:24px;}

.smalltitle{color:#9fc4ce;
position:relative;
padding:0 16px;
display:inline-block;}
.smalltitle:before, .smalltitle:after{content:'';
position:absolute;
width:10px;
height:2px;
background:#9fc4ce;
left:0;
top:50%;
transform:translateY(-50%);
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
}
.smalltitle:after{left:auto;
right:0;}

aside .instagram-pics, footer .instagram-pics{text-align:center;}
aside .instagram-pics li, footer .instagram-pics li{display:inline-block;margin:0px 7px 7px 0px;}
aside .instagram-pics li img, footer .instagram-pics li img{width:80px;height:80px;}	

.textwidget img{display: block;
    height: auto;
    max-width: 100%;}
.textwidget select { width: 100%; }

.search-string{padding:12px;
width:100%;
border:1px solid #e0e0e0;
}

.tagcloud a, .tags-single-page a{
    display: inline-block;
    font-size: 11px !important;
    color: #252525;
    background: #f2f2f2;
    padding: 6px 12px;
    text-align: center;
    margin: 0 3px 7px 0;}

.tagcloud a:hover, .tags-single-page a:hover{
background:#9fc4ce;
color:#ffffff;
text-decoration:none;}

.tags-single-page{margin-top:36px;}

.widget ul li, .widget_recent_entries li, .widget_archive li, .widget_categories li{margin-bottom: 16px;
line-height: 1.4;}
.widget_categories ul.children, .widget_pages ul.children, .widget_nav_menu .sub-menu{padding-top:16px;
margin-left:16px;}
.widget_recent_entries li:last-child, .widget_archive li:last-child, .widget_categories li:last-child{margin-bottom:none;}

aside table th, .foo-block table th, aside table td, .foo-block table td{ padding:8px;}

/* END SIDEBAR */


/*************************************

7. FOOTER

************************************/

footer{padding:81px 0 32px 0;
margin-top:108px;
background:#000000;}

footer, footer a, .footer-social li a{color:#999999;}

.foo-block, .widget-footer{margin-bottom:36px;}
.foo-block .widgettitle{ color:#ffffff; }

.copyright{margin-top:18px;
display:flex;}

.footer-copy{font-size:12px;
letter-spacing:1px;
flex:1 1 auto;}

.footer-social{text-align:right;}

/*************************************

8. BACKGROUND IMAGES

************************************/

/* Home Slider */
.slide-1{background-image:url('assets/images/pages-top/reservation-page.jpg');}
.slide-2{background-image:url('assets/images/pages-top/slider-2.jpg');}
.slide-3{background-image:url('assets/images/pages-top/slider-3.jpg');}

/* Top Pages Image */
.top-menu-1col, .top-menu-2col, .top-menu-3col, .top-menu-acc, .top-menu-5{background-image:url('assets/images/pages-top/menu-img.jpg');}
.top-reservation{background-image:url('assets/images/pages-top/reservation-page.jpg');}
.top-blog-classic, .top-blog-list, .top-blog-grid-2cols, .top-blog-grid-3cols, .top-blog-single-page{background-image:url('assets/images/pages-top/blog-img.jpg');}
.top-team-2cols, .top-team-3cols, .top-team-4cols{background-image:url('assets/images/pages-top/team-page.jpg');}
.top-gallery-3cols, .top-gallery-3cols-fs, .top-gallery-4cols, .top-gallery-4cols-fs{background-image:url('assets/images/pages-top/reservation-page.jpg');}
.top-contact{background-image:url('assets/images/pages-top/contact-us.jpg');}

.topPageCustomH{height:450px;}

/** Gallery Images **/
.gallery-img1{background-image:url(assets/images/blog/blog9.jpg);}
.gallery-img2{background-image:url(assets/images/blog/blog2.jpg);}
.gallery-img3{background-image:url(assets/images/blog/blog4.jpg);}
.gallery-img4{background-image:url(assets/images/blog/gal-12.jpg);}
.gallery-img5{background-image:url(assets/images/blog/blog7.jpg);}
.gallery-img6{background-image:url(assets/images/blog/blog8.jpg);}
.gallery-img7{background-image:url(assets/images/blog/blog5.jpg);}
.gallery-img8{background-image:url(assets/images/blog/blog6.jpg);}
.gallery-img9{background-image:url(assets/images/blog/blog11.jpg);}
.gallery-img10{background-image:url(assets/images/blog/blog3.jpg);}
.gallery-img11{background-image:url(assets/images/blog/gal-10.jpg);}
.gallery-img12{background-image:url(assets/images/blog/gal-11.jpg);}

/* Menu 5 Page */

.menu5-img1{background-image: url('assets/images/home/small-img3.jpg');}
.menu5-img2{background-image: url('assets/images/home/small-img2.jpg');}
.menu5-img3{background-image: url('assets/images/home/small-img1.jpg');}
.menu5-img4{background-image: url('assets/images/home/small-img3.jpg');}

/* Blog List Page */
.list-image1{background-image:url('assets/images/blog/blog9.jpg');}
.list-image2{background-image:url('assets/images/blog/blog8.jpg');}
.list-image3{background-image:url('assets/images/blog/blog11.jpg');}
.list-image4{background-image:url('assets/images/blog/blog2.jpg');}
.list-image5{background-image:url('assets/images/blog/blog4.jpg');}
.list-image6{background-image:url('assets/images/blog/blog7.jpg');}
.list-image7{background-image:url('assets/images/blog/blog3.jpg');}
.list-image8{background-image:url('assets/images/blog/blog5.jpg');}
.list-image9{background-image:url('assets/images/blog/blog6.jpg');}


/*************************************

9. OTHER

************************************/

.page-home{padding-left:15px;
padding-right:15px;}
.hometitle{font-size:36px;}
.white{color:#ffffff;}
.white:before, .white:after{background:#ffffff;}

.single-post-content img, .custom-page-template img{ height: auto;
    max-width: 100%;}
.single-post-content h1, .single-post-content h2, .single-post-content h3, .single-post-content h4, .single-post-content h5, .single-post-content h6{margin-bottom:12px;}	

/* comments + contact fields */
.comm-field, .contact-field, #msg-contact {width:100%;
padding:16px;
border:none;
background: #f2f2f2;
margin-bottom:8px;
}
.post-password-form label input{padding:12px;
border:none;
background: #f2f2f2;
margin-left:8px;
}

.form-submit{text-align:right;}
.form-submit{margin-bottom:0px;}

.comm-title-2 .section-title{margin-top:28px;}

.contact-field{margin-bottom:24px;}

#submit{padding:16px 24px;}

.submit{margin-top:24px;}

.view-more, #submit, .white-btn, #submit-contact{font-size: 13px;
    letter-spacing: 0.15em;
	font-weight:600;
	display:inline-block;
	color:#ffffff;
	border:2px solid #9fc4ce;
 text-transform: uppercase;
padding:16px 24px;
background:#9fc4ce;
cursor:pointer;
}

.view-more:hover, #submit:hover, #submit-contact:hover{color:#9fc4ce;
border:2px solid;
background:none;
}

.white-btn{background:none;
color:#ffffff;
	border:2px solid #ffffff;}

.white-btn:hover{color:#252525;
	border:2px solid #ffffff;
	background:#ffffff;}

.btn-header	.view-more{color:#252525;
background:#ffffff;
border-color:#ffffff;
margin-top:0;}
.btn-header	.view-more:hover{background:none;
border-color:#ffffff;
color:#ffffff;}

.slider-btn{font-size: 13px;
    letter-spacing: 0.15em;
	font-weight:600;
	display:inline-block;
	color:#ffffff;
	text-transform: uppercase;
	border-bottom:2px solid #ffffff;
	padding-bottom: 4px;}
.slider-btn:hover{border-bottom:2px solid #9fc4ce;}	


/*** PREV-NEXT PAGE NAVIGATION ***/

.prev-next{}
.prev-next, .page-links{text-align:center;
font-size:0;}
.page-numbers, .nav-page a, .page-links a, .post-password-form input[type="submit"]{color:#ffffff;
border: 2px solid #9fc4ce;
background: #9fc4ce;
padding: 8px 16px;
margin: 0 8px;
font-size:13px;
font-weight:600;
text-transform:uppercase;
text-decoration:none;
display:inline-block;
letter-spacing: 0.15em;
} 

.current-page, .page-numbers:hover, .nav-page a:hover, .page-links a:hover, .post-password-form input[type="submit"]:hover{color:#9fc4ce;
background:none !important;
border: 2px solid;}

.page-links{margin-top:32px;}
.page-links a, .post-password-form input[type="submit"]{margin:0;
margin-right:12px;
padding: 12px 24px;}

.post-password-form input[type="submit"]{ vertical-align: top;
margin-left: 8px;
cursor:pointer;}

.topPage404{height:450px;}
.error-404{text-align:center;}


/*flexible embeds*/
.video-widget {
	position: relative;
	padding: 0;
	padding-bottom: 56.25%; /* 16:9 ratio*/
	height: 100%;
	overflow: hidden;
}

.gmaps {
	position: relative;
	padding: 0;
	height: 600px;
	overflow: hidden;
}
.gmaps iframe{border:none;}

.gmaps-contact{height:300px;}
.gmaps-homevideo{height:720px;}

.video-widget iframe, .gmaps iframe {
	position: absolute;
	top: auto;
	left: 0;
	width: 100%;
	height: 100%;
}

.scrollup{display:none;}
.scrollup i {
width:30px;
height:30px;
position: fixed;
background:#252525;
color:#ffffff;
border-radius: 50%;
bottom: 20px;
right: 20px;
text-align: center;
padding-top:6px;
cursor: pointer;
z-index: 110;
}

.nf-text{margin:24px 0;}


/* Owl Carousel Default Nav */
.owl-carousel{ cursor: -webkit-grab; cursor: -moz-grab; }
.owl-carousel.owl-grab{cursor: -webkit-grabbing; cursor: -moz-grabbing;}

  .owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 48px; }

.owl-theme .owl-dots {
    position: absolute;
    right: 0;
	left:0;
    text-align: center;
    bottom: 0px;
    z-index: 100;
    width: auto;
    z-index: 20;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
  .owl-theme .owl-dots .owl-dot {
  margin:0px 8px;
    zoom: 1;
    display: inline-block; }
    .owl-theme .owl-dots .owl-dot span {
      width: 7px;
      height: 7px;
      background: #ffffff;
      display: block;
       border-radius: 99em; 
	   opacity: 0.8;
	   
	  -webkit-backface-visibility: visible; 
	   -webkit-transition: all 1s cubic-bezier(0.25, 1, 0.35, 1) 0s;
   -moz-transition: all 1s cubic-bezier(0.25, 1, 0.35, 1) 0s;
   -o-transition: all 1s cubic-bezier(0.25, 1, 0.35, 1) 0s;
   -ms-transition: all 1s cubic-bezier(0.25, 1, 0.35, 1) 0s;
   transition: all 1s cubic-bezier(0.25, 1, 0.35, 1) 0s;
	   
	   }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: #ffffff;
	  opacity: 1;
	   -webkit-transform: scale(1.8);
    -moz-transform: scale(1.8);
    -ms-transform: scale(1.8);
    -o-transform: scale(1.8);
	  transform: scale(1.8);
	   }
	   
.testimonial-slider .owl-dots{position:relative;}

.testimonial-info{color:#ffffff;}
.testimonial-info h4{font-size:28px;
font-style:italic;
color:#ffffff;
text-align:center;
margin-bottom:48px;}
.testimonial-info div{text-align:center;
font-style:normal;
font-size:14px;
font-weight:700;
letter-spacing:1px;
text-transform:uppercase;
padding-top:16px;
position:relative;}
.testimonial-info div:before {
    background: #ffffff;
    content: "";
    position: absolute;
    height: 1px;
    left:50%;
    top: 0px;
    width: 50px;
	margin-left:-25px;
}
.testimonial-info span{text-align:center;
font-style:normal;
font-size:12px;
display:block;}
.fs-bkgcolor .testimonial-desc, .fs-bkgcolor .testimonial-info span, .parallax-content .testimonial-desc, .parallax-content .testimonial-info span{ color:#ffffff; }
.fs-bkgcolor .testimonial-info h5, .fs-bkgcolor h4, .parallax-content .testimonial-info h5, .parallax-content h4{color:#ffffff;}
.fs-bkgcolor .testimonial-info h5:before, .fs-bkgcolor .testimonial-slider .owl-dots .owl-dot span, .fs-bkgcolor .testimonial-slider .owl-dots .owl-dot.active span, .parallax-content .testimonial-info h5:before, .parallax-content .testimonial-slider .owl-dots .owl-dot span, .parallax-content .testimonial-slider .owl-dots .owl-dot.active span {background: #ffffff;}

/*************************************

MAGNIFIC POPUP

************************************/	

.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.9; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover,
  .mfp-close:focus {
    opacity: 1; }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover,
  .mfp-arrow:focus {
    opacity: 1; }
  .mfp-arrow:before,
  .mfp-arrow:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }
	
/*************************************

END MAGNIFIC POPUP

************************************/

.padding-tb54{padding-top:54px;padding-bottom:54px;}
.padding-tb48{padding-top:48px;padding-bottom:48px;}
.padding-tb32{padding-top:32px;padding-bottom:32px;}
.padding-tb24{padding-top:24px;padding-bottom:24px;}
.padding-tb81{padding-top:81px;padding-bottom:81px;}
.padding-tb108{padding-top:108px;padding-bottom:108px;}
.margin-tb54{margin:54px 0;}
.margin-tb36{margin:36px 0;}
.margin-tb24{margin:24px 0;}
.margin-t54{margin-top:54px;}
.margin-t36{margin-top:36px;}
.margin-t32{margin-top:32px;}
.margin-t24{margin-top:24px;}
.margin-t16{margin-top:16px;}
.margin-b108{margin-bottom:108px;}
.margin-b72{margin-bottom:72px;}
.margin-b54{margin-bottom:54px;}
.margin-b48{margin-bottom:48px;}
.margin-b36{margin-bottom:36px;}
.margin-b32{margin-bottom:32px;}
.margin-b24{margin-bottom:24px;}
.margin-b16{margin-bottom:16px;}
.margin-none{margin:0;}
.padding-none{padding:0;}
.img-center{margin:0 auto;}	

.margin-l54{margin-left:54px;}
.margin-r54{margin-right:54px;}

/* Placeholder text color */

::-webkit-input-placeholder { /* Safari, Chrome and Opera */
  color: #252525;
}

:-moz-placeholder { /* Firefox 18- */
  color: #252525;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #252525;
}

:-ms-input-placeholder { /* IE 10+ */
  color: #252525;
}

::-ms-input-placeholder { /* Edge */
  color: #252525;
}

:placeholder-shown { /* Standard one last! */
  color: #252525;
}

/* ELEMENTOR */

.elementor-column-gap-default .elementor-row {
    width: calc(100% + 20px);
    margin-left: -10px;
    margin-right: -10px;
}
.elementor-column-gap-narrow .elementor-row {
    width: calc(100% + 10px);
    margin-left: -5px;
    margin-right: -5px;
}
.elementor-column-gap-extended .elementor-row {
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: -15px;
}
.elementor-column-gap-wide .elementor-row {
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px;
}
.elementor-column-gap-wider .elementor-row {
    width: calc(100% + 60px);
    margin-left: -30px;
    margin-right: -30px;
}

.elementor-widget-heading .elementor-heading-title{line-height:1.5em;}
.icon-circle .elementor-icon {color:#9fc4ce;
border-color:#9fc4ce;}

.elementor-widget-tabs .elementor-tabs-wrapper{text-align:center;}
.elementor-widget-tabs.elementor-tabs-view-horizontal .elementor-tab-desktop-title { display: inline; }
.elementor-widget-tabs .elementor-tab-content{padding:15px;}
.elementor-widget-tabs .elementor-tab-title:hover, .elementor-widget-tabs .elementor-tab-title.elementor-active{color:#9fc4ce;}

.elementor-accordion .elementor-accordion-item, .elementor-accordion .elementor-tab-content{border:none;}
.elementor-accordion .elementor-tab-title{font-size:28px;
border-bottom: 1px solid #252525;
letter-spacing: 0.05em;
padding: 30px 20px;}
.elementor-accordion .elementor-tab-title .elementor-accordion-icon{display:inline-block;
font-size:16px;}
.elementor-accordion .elementor-tab-title .elementor-accordion-icon.elementor-accordion-icon-left{float:none;}
.elementor-accordion .elementor-tab-title:hover, .elementor-accordion .elementor-tab-title.elementor-active{color:#9fc4ce;}


/*************************************

MEDIA QUERIES

************************************/
@media (min-width: 768px) { .container, .elementor-section.elementor-section-boxed > .elementor-container{ max-width: 708px; } }
@media (min-width: 992px) { .container, .elementor-section.elementor-section-boxed > .elementor-container{ max-width: 930px; } }
@media (min-width: 1024px) { .container, .elementor-section.elementor-section-boxed > .elementor-container{ max-width: 960px; } }
@media (min-width: 1200px) { 

.container, .elementor-section.elementor-section-boxed > .elementor-container { max-width: 1140px; }

.parallax{ background-attachment: fixed !important;}

 }
@media (min-width: 1500px) {
	
.container, .elementor-section.elementor-section-boxed > .elementor-container{max-width:1350px;}

.inner-desc{ position: absolute;
    z-index: 4;
	text-align: center;
	padding:0 15px;
    width: 60%;
	top:50%;
	left:50%;
		-ms-transform: translate(-50%, -50%);
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
-o-transform: translate(-50%, -50%);
    transform:translate(-50%, -50%);
}

}


@media (max-width: 1200px) {

}

@media (max-width: 1024px) {
	
/* menu */

.nav-holder,
.header5-left{display:none;}
.nav-button-holder {display:block;}

.headerHolder5.nav-fixed-top .header-5{
	display: flex;
}
	
.headerHolder,
.header-5{padding: 15px;
}

.logo{flex: 1 1 auto;
text-align:right;}

.btn-header{display:none;}

/* end menu */

.order1 { order: 1; }
.order2 { order: 2; }

.bkg-image,
.gmaps-homevideo{
	height: 400px;
}

.menutab-6{
	display: block;
}

.menutab-6 .menuTab.nav{
	display: flex;
}

.menutab-6 .menuTab{
	text-align: center;
	width: auto;
	margin-top: 0;
}

.margin-l54{margin-left:0;}
.margin-r54{margin-right:0;}

}


@media (min-width: 768px) and (max-width: 979px) { 


.blog-item-1col-list {display: block;}
.blog-item-1col-list .post-image {width: 100%;
height: 300px;
margin-bottom: 24px;}
.blog-item-1col-list .post-holder { width: 100%;
padding-left: 0;}

.gallery-post, .gallery-4cols .gallery-post{width: 50%;
height: 300px;}

.width60{width:100%;
margin-left:0;
margin-right:0;}

}

@media (max-width: 767px) {
	
.container { max-width: 100%; }	

h1{font-size:1.7em;}	
h2{font-size:28px;}
h3{font-size:1.4em;}
h4{font-size:1.3em;}
h5{font-size:1.1em;}
h6{font-size:1.0em;}
blockquote { font-size: 1.2rem; }



#header-4{
	top: 24px;
}

.slider-caption h2, .single-post-title{font-size:54px;}

.inner-desc h1{word-wrap: break-word;}

.width60{width:100%;
margin-left:0;
margin-right:0;}
.icon-holder, .image-text{margin-bottom:48px;}

/* blog */

.posts-holder-push-right{order:0;}
.posts-holder, .posts-holder-push-right{padding-left:15px;
padding-right:15px;}
aside, .blog-post-single aside{margin-top:48px;}
.article-title, .blog-item-2col-grid .article-title, .blog-item-3col-grid .article-title, .blog-item-1col-list .article-title{font-size:28px;}

.blog-item-1col-list {display: block;}
.blog-item-1col-list .post-image {width: 100%;
height: 300px;
margin-bottom: 24px;}
.blog-item-1col-list .post-holder { width: 100%;
padding-left: 0;}

.home-blog-grid .blog-item { margin-bottom: 48px; }
.home-blog-grid .row .col-md-4:last-of-type .blog-item{margin-bottom: 0px;}

/* end blog */

.gallery-container-fs{padding: 0 15px;}
.gallery-post, .gallery-4cols .gallery-post{width: 100%;
height: 300px;}

.menu-2cols, .menu-3cols{-moz-column-count: 1;
-webkit-column-count:1;
column-count:1;
}
	
.copyright{display:block;}
.footer-copy{margin-bottom:16px;}
.footer-social{text-align:left;}	

.testimonial-info { padding: 0 15px; }
.testimonial-info h4{ font-size: 24px; }

.meta-nav-right{margin-top:24px;}

.page-numbers{margin-bottom:24px;}

/* Home Sections*/

.home-section-1 .col-md-3{display:none;}

.margin-none{margin:0;}

.menuTab {justify-content: left;
    margin-left: -16px;
}
.menuTab .nav-link {padding:16px;}

/*comments*/
	.children { margin: 28px 0 0; }
	.children li.depth-2,
	.children li.depth-3,
	.children li.depth-4,
	.children li.depth-5,
	.children li.depth-6,
	.children li.depth-7,
	.children li.depth-8,
	.children li.depth-9,
	.children li.depth-10 { margin: 0 }

.mobile-margin-b24{ margin-bottom:24px;}
.mobile-margin-b48{ margin-bottom:48px;}
.mobile-margin-b54{margin-bottom:54px;}
.mobile-margin-b72{margin-bottom:72px;}
.mobile-padding-tb48{padding-top:48px;padding-bottom:48px;}

}

@media (max-width: 568px) {
	
	.page-links a{margin-bottom:16px;}
	
}

@media (max-width: 480px) {
	
	.post-password-form label input, .post-password-form input[type="submit"]{display:block;
margin-left:0;margin-top:8px;}

 }